# Ignore test directories everywhere
**/tests/
**/benchmarks/
**/.ppc/
**/grading/
**/.gitignore
**/grading

# Ignore compiled binaries (using exact matching)
**/cp$
**/cp[0-9]$
**/cp[0-9][a-z]$
**/mf$
**/mf[0-9]$
**/mf[0-9][a-z]$
**/*.dSYM/

# Keep all source files
!**/*.cc
